

Design Rule Check*

*.zip
*.MbaDoc



# Various Altium files
*.PrjPCBStructure
*.SchDocPreview
*.PcbDocPreview
__Previews
*.PrjPcbStructure
*.Dat
*.REP 
*.TLT
*.LOG
*.lck
*.log
*.htm
*.$$$
*.step
#useless dirs
*/Project\ Outputs
*/Project\ Logs
Project Outputs for*

#History
*/History
*/__Previews

#Exports, but not manual ones
exports/*
!exports/manual

#Python stuff
scripts/__pycache__/
*.bak
*.dwl
*.dwl2
/PCBProject_InverterFNC42060F/Kicad_inverter/inverter/production
